<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctecltd.bravebruhs">

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameTurnController"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AddFriend"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EnterGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TurnInCards"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CollectCard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Attack"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlaceArmies"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlaceArmiesPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AttackPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StatusPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TroopMovement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TroopMovementPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameOver"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NotMyTurn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ComputerTurn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BattleLogPopup"
            android:screenOrientation="landscape" />
    </application>

</manifest>